BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 80

BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterClass: true
  AfterStruct: true
  AfterUnion: true
  AfterEnum: false
  AfterNamespace: false
  AfterControlStatement: false
  AfterCaseLabel: false
  AfterExternBlock: false
  BeforeElse: false
  BeforeCatch: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
